<p class="text-secondary-dark/60 type_xs mt-4"> 
This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy" class="underscore text-secondary-dark/80">Privacy Policy</a> and
    <a href="https://policies.google.com/terms" class="underscore text-secondary-dark/80">Terms of Service</a> apply.
</p> 